.PublicVideoFeedComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 43px;

  & > div {
    margin-bottom: 44px;
    text-align: center;
    line-height: 34px;  
  }

  & > div:hover {
    cursor: pointer;
  }


}
